[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = git@github.com:darktet/dwm.git
[submodule ".config/nvim/lua/user"]
	path = .config/nvim/lua/user
	url = git@github.com:darktet/AstroNvim_user-config.git
[submodule "/home/vash/.config/nvim/lua/user"]
	path = /home/vash/.config/nvim/lua/user
	url = git@github.com:darktet/AstroNvim_user-config.git
